<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/navbar.ejs', {selected: "explorer"} ); %>
    </header>
    <main>
      <div role="files-list-container">
        <% files.forEach((file) => { %>
          <div role="files-list-item">
            <%= file.absolutePath %>
            <%= file.device %>
            
          </div>
        <% });%>
      </div>
    </main>
  </body>
</html>
