<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/navbar.ejs'); %>
    </header>
    <main>
      <h1>Seleccione el archivo a subir</h1>
      <form action="/files/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="archives" multiple/>
        <button type="submit">Enviar</button>
      </form>
    </main>
  </body>
</html>
