<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <main>
      <h1>Seleccione el archivo a subir</h1>
      <input type="file" name="" id="" />
    </main>
  </body>
</html>
